.blog-home3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.blog-home3 h1, .blog-home3 h2, .blog-home3 h3, .blog-home3 h4, .blog-home3 h5, .blog-home3 h6 {
  color: #3e4555;
}

.blog-home3 h5 {
  line-height: 22px;
  font-size: 18px;
}

.blog-home3 a.link {
  color: #3e4555;
}

.blog-home3 a.link:hover {
  color: #316ce8;
}

.blog-home3 .font-weight-medium {
  font-weight: 500;
}

.blog-home3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.blog-home3 .bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.blog-home3 .date-pos {
  font-size: 12px;
}

.blog-home3 a {
  overflow: hidden;
}

.blog-home3 a img {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.blog-home3 a img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@media (min-width: 992px) {
  hr {
    visibility: hidden;
  }
}

.card-img-top {
  border-radius: 40px;
}

#carousel-1 {
  width: 70%;
  margin: auto;
}

@media (max-width: 576px) {
  #carousel-1 {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .carousel-item {
    height: 300px;
  }
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.row.padMar {
  width: 100%;
}

@media (min-width: 768px) {
  .input-group {
    width: 50%;
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(1,0,28);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #01001c;
  border-color: #01001c;
}

body {
  font-family: Arial;
  background: #ffffff;
}

/* Header/Blog Title */

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */

/* Left column */

.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.pos-f-t {
  width: 100% !important;
}

